---
import { ModeToggle } from "./ModeToggle";
---

<nav
  class="fixed top-0 left-0 w-full py-6 px-4 md:px-6 flex items-center justify-between bg-background/95 backdrop-blur-sm z-50 shadow-sm transition-shadow duration-300"
>
  <div class="flex items-center space-x-2">
    <span class="text-2xl font-bold text-primary">QIT</span>
    <span class="text-xl font-medium">软件工作室</span>
  </div>
  <div class="hidden md:flex space-x-6">
    <a
      href="#about"
      class="text-foreground hover:text-primary transition-colors py-2"
      >关于我们</a
    >
    <a
      href="#advantages"
      class="text-foreground hover:text-primary transition-colors py-2"
      >团队优势</a
    >
    <a
      href="#projects"
      class="text-foreground hover:text-primary transition-colors py-2"
      >项目展示</a
    >
    <a
      href="#contact"
      class="text-foreground hover:text-primary transition-colors py-2"
      >联系我们</a
    >
    <ModeToggle client:load />
  </div>
  <button class="md:hidden text-foreground">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <line x1="4" x2="20" y1="12" y2="12"></line>
      <line x1="4" x2="20" y1="6" y2="6"></line>
      <line x1="4" x2="20" y1="18" y2="18"></line>
    </svg>
  </button>
</nav>
