---
import "../styles/global.css";
---

<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="齐鲁理工学院软件开发工作室官方网站" />
    <title>齐鲁理工学院软件开发工作室</title>
  </head>
  <body>
    <div class="min-h-screen bg-gradient-to-b from-background to-secondary/20">
      <slot />
    </div>
  </body>

  <style>
    html,
    body {
      margin: 0;
      width: 100%;
      height: 100%;
    }
  </style>
</html>
